:root {

    --mobile: 375px;
    --desktop: 1440px;

    --primary-col-100: hsl(75, 94%, 57%);

    --neutral-col-100: hsl(0, 0%, 100%);
    --neutral-col-200: hsl(0, 0%, 20%);
    --neutral-col-300: hsl(0, 0%, 12%);
    --neutral-col-400: hsl(0, 0%, 8%);

    --pri-ff: 'Inter', sans-serif;
    --pri-ff-size: 14px;

    --ff-w-400: 400;
    --ff-w-600: 600;
    --ff-w-800: 800;
}

*,
*::before,
*::after {
    box-sizing: border-box;    
}

body {
    align-items: center;
    background-color: var(--neutral-col-400);
    color: var(--neutral-col-100);
    display: flex;
    flex-direction: column;
    font-family: var(--pri-ff);
    font-weight: var(--ff-w-400);
    font-size: var(--pri-ff-size);
    justify-content: center;
    margin: 0px;
    min-height: 100vh;
    min-width: var(--mobile);
    position: relative;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.social-wrapper {
    align-items: center;
    background-color: var(--neutral-col-300);
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    min-width: 350px;
    padding: 1rem 1.5rem;
}

.profile-head {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.profile-avatar {
    border-radius: 50%;
    margin-block: 0.5rem 0.8rem;
    width: 85px;
}

.profile-social-links {
    display: grid;
    grid-template-columns: auto;
    width: 100%;
}

.profile-links {
    display: block;
    width: 100%;
}

.profile-name, .profile-location, .profile-status {
    margin-bottom: 0px;
}

.profile-name {
    font-size: 1.4rem;
    font-weight: var(--ff-w-600);
}

.profile-location {
    color: var(--primary-col-100);
    margin-block: 0.6rem 1rem;
}

.profile-status {
    color: var(--neutral-col-100);
    font-weight: var(--ff-w-400);
    margin-bottom: .5rem;
    opacity: 0.6;
}

.link {
    background-color: var(--neutral-col-200);
    border-radius: 10px;
    color: var(--neutral-col-100);
    display: block;
    font-family: var(--pri-ff);
    font-weight: var(--ff-w-600);
    font-size: var(--pri-ff-size);
    margin-block: 1rem;
    padding: .8rem 1rem;
    text-align: center;
    text-decoration: none; 
}


.link:hover, .link:focus-visible {
    background-color: var(--primary-col-100);
    color: var(--neutral-col-400);
}

.attribution {
    bottom: 10px;
    font-size: 11px;
    text-align: center;
    position: absolute;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}